@import url('http://fonts.cdnfonts.com/css/averta-blackitalic?styles=17723');
*{
    font-family: 'Averta-Regular', sans-serif;
}

body{
    line-height: 1.5;
}

.hero-section{
    background-image: url(./images/hero-bg.svg);
    background-size: cover;
    height: 800px;
}


.hero-div{
    display: flex;
    justify-content: center;
    padding: 4%;
}

.zuri-logo{
    background: transparent;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin: -1% 25%;
}

.btns-div{
    
    margin: 10% 7%;
}

h1{
    font-size: 32px;
    text-align: center;
    color:#212529;
    opacity: 0.9;
}

a{
    color: #E7332B;
    text-decoration: none;
}

p{
    color: #514949;
    opacity: 0.9;
}

p, button{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
}

button{
    padding:1.8% 4%;
}

.training-btn{
    background-color: #E7332B;
    border: none;
    color: #fff;
   
}

.training-btn:hover{
    background-color: #fff;
    color: #E7332B;
    border: 1px solid #E7332B;
}



.talents-btn{
    background-color: #fff;
    color: #E7332B;
    border: 1px solid #E7332B;
     margin-left: 3.5%;
}

.talents-btn:hover{
    background-color: #E7332B;
    color: #fff;
}


h4{
    font-size: 13px;
    font-weight: 200;
    line-height: 24px;
    color: #E7332B;
    margin-top: 141px;
    text-align: center;
}

.slogan{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 7px;
    margin-bottom: 64px;
}

.cards-div{
    display: flex;
    margin: -23% 8.1%;
    position: absolute;
    z-index: 9;
}


.card-1 , .card-2 , .card-3{
    margin-top: -7%;
    margin-left: 2% ;
    height: 496.6px;
    width: 410px;
   opacity: 1;
    background-color: #FFFAFA;
}

.card-1-content , .card-2-content , .card-3-content{
    padding: 8%;
    margin: 10% 2% 0% 4%;
}


.card-1-content p, .card-2-content p, .card-3-content p{
    margin: 13% 0% 0% 0%;
}

.dotted-bgs{
    display: flex;
    justify-content: space-around;
}

.dotted-bg-1, .dotted-bg-2{
    height: 500px;
    width: 500px;
   
  
   margin-top: -5%;
}

.dotted-bg-1{
    margin-left: 2%;
}

.dotted-bg-2{
    margin-left: 43%;
}

.footer-logo{
    margin-top: 1%;
}

h3{
    font-size: 16px;
    color: #514949;
}

.footer-items{
    display: flex;
    justify-content: space-between;
    padding: 19% 10% 3% 10%;
    
}

.footer-icons{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
}


.icons{
    
    width: 19px;
    height: 19px;
    
}


footer .div-2 a, footer p{
   font-size: 16px;
}


hr{
    width: 80%;
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.copyright{
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 7%;
    opacity: 0.9;
}





















        /* media responsive rules */


@media (max-width: 800px){

    body{
        line-height: 1.2;
    }
    
    .hero-section{

        background-size: contain;
        height: fit-content;
    }
    
    
    .hero-div{
        width: 1005;
        justify-content: center;
        padding: 10% 0%;
    }
    
    
    .hero-content{

        margin: -1% 10%;
    }
    
    .btns-div{
        width: 100%;
        margin: 10% 0%;
    }
    
    h1{
        font-size: 28px;
    }
    

    
    p, button{
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        
    }
    
    button{
        padding:1.5% 0.5%;
        line-height: 1.2;
    }
    
    .talents-btn, .training-btn{
       width: 43%;
         margin: 10% 1.5%;
    }
    
    
    h4{
        font-weight: 300;
        
        margin-top: 15%;
    }
    
    .slogan{
        font-size: 18px;
        line-height: 2;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .cards-div{
        flex-direction: column;
        margin: 5% 0%;
        position: relative;
    }
    
    
    .card-1 , .card-2 , .card-3{
       
        margin: 3% 9%;
        height: fit-content;
        width: 80%;
    
    }
    
    
    .dotted-bgs{
        display: none;
    }
    
    
    
    h3{
        font-size: 15px;

    }
    
    footer{
      width: 90%;  
    }
    
    .footer-items{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        padding: 0%;
        margin-top: 2%;
        
    }
    
    .footer-icons{
        display: flex;
        justify-content: space-evenly;
        
        width: 100%;
    }
    
    
    footer .div-2 a, footer p{
       font-size: 14px;
    }
    
    
    hr{
        width: 80%;
        opacity: 0.2;
        border: 0.7px solid #514949;
    }
    
    .copyright{
        font-size: 14px;
    }

}