@import url('http://fonts.cdnfonts.com/css/graphik?styles=44660,44658,44662,44652');


*{
    font-family: 'graphik', sans-serif;
}

/*rgb(255, 248, 229)  btn -rgb(88, 88, 88) footer bg- rgb(22, 22, 23)

skills p color- #787878

box-shadow: 0 8px 30px hsla(0,0%,48%,.16)*/



header, nav, .hero-section, .section-2, .skills-section{
    display: flex;
    align-items: center;
}


header{
    padding: 0% 2%;
    margin-top: -4%;
    justify-content: space-between;
    width: 95%;
    height: 90px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

nav{
    justify-content: space-around;
    width: 40%;
}


nav a{
    text-decoration: none;
    display: inline-block;
   padding: 2%;
   font-size: 18px;
    transition-timing-function: linear;
}

nav a:active, nav a:hover{
    border-bottom: 2px solid #e7332b;
}


nav button{
    background-color: #e7332b;
    border: none;
    border-radius: 0% 0% 10px 0%;
    color: #fff;
    width: 150px;
    height: 42px;
    font-size: medium;
}


h1{
    font-size: 40px;
    font-weight: 800;
    color: #161617;
    width: 100%;
}

span{
    color: #e7332b;
}

.hero-section{
    margin-top: 4%;
}

.hero-section p{
    width: 100%;
}

.hero-section img{
    width: 43%;
    margin: 10% 5% 3% 45%;
}



.section-2{
    background-image: url(./images/section2-bg.png);
    background-size: cover;
}

.section-2 img{
    width: 50%;
    margin: 10% 0% 10% 40%;
}

.section-2 .country-flags img{
    width: 50px;
    height: 50px;
    margin: 2%;
}




